1.State and District  level covid cases :

In [6]:
import pandas as pd
import numpy as np
data=pd.read_csv("State and district_level_latest.csv")
data.head(10)

,SlNo,State_Code,State,District_Key,District,Confirmed,Active,Recovered,Deceased,Migrated_Other,Delta_Confirmed,Delta_Active,Delta_Recovered,Delta_Deceased,Unnamed: 14
0,0,UN,State Unassigned,UN_Unassigned,Unassigned,0,0,0,0,0,0,0,0,0,NaN
1,1,AN,Andaman and Nicobar Islands,AN_Nicobars,Nicobars,0,0,0,0,0,0,0,0,0,NaN
2,2,AN,Andaman and Nicobar Islands,AN_North and Middle Andaman,North and Middle Andaman,1,0,1,0,0,0,0,0,0,NaN
3,3,AN,Andaman and Nicobar Islands,AN_South Andaman,South Andaman,51,19,32,0,0,0,0,0,0,NaN
4,0,AP,Andhra Pradesh,AP_Foreign Evacuees,Foreign Evacuees,434,0,434,0,0,0,0,0,0,NaN
5,4,AP,Andhra Pradesh,AP_Anantapur,Anantapur,21173,6768,14263,142,0,1112,-494,1596,10,NaN
6,5,AP,Andhra Pradesh,AP_Chittoor,Chittoor,14306,6215,7948,143,0,755,251,496,8,NaN
7,6,AP,Andhra Pradesh,AP_East Godavari,East Godavari,27580,12583,14792,205,0,1351,973,368,10,NaN
8,7,AP,Andhra Pradesh,AP_Guntur,Guntur,19419,7224,12007,188,0,868,226,633,9,NaN
9,8,AP,Andhra Pradesh,AP_Krishna,Krishna,9042,3012,5832,198,0,363,57,300,6,NaN

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   SlNo             800 non-null    int64
 1   State_Code       800 non-null    object
 2   State            800 non-null    object
 3   District_Key     800 non-null    object
 4   District         800 non-null    object
 5   Confirmed        800 non-null    int64
 6   Active           800 non-null    int64
 7   Recovered        800 non-null    int64
 8   Deceased         800 non-null    int64
 9   Migrated_Other   800 non-null    int64
 10  Delta_Confirmed  800 non-null    int64
 11  Delta_Active     800 non-null    int64
 12  Delta_Recovered  800 non-null    int64
 13  Delta_Deceased   800 non-null    int64
 14  Unnamed: 14      57 non-null     object
dtypes: int64(10), object(5)
memory usage: 93.9+ KB

In [8]:
data.describe()

,SlNo,Confirmed,Active,Recovered,Deceased,Migrated_Other,Delta_Confirmed,Delta_Active,Delta_Recovered,Delta_Deceased
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000,800.000000
mean,372.795000,2531.761250,757.375000,1721.730000,52.047500,0.567500,74.268750,15.373750,57.80875,1.086250
std,229.978462,9943.527079,3441.593212,7780.589126,329.479664,10.572969,205.060506,155.268161,238.30100,4.309237
min,0.000000,0.000000,-51654.000000,0.000000,0.000000,0.000000,-5.000000,-3394.000000,-3.00000,-2.000000
25%,172.750000,190.500000,48.750000,69.000000,0.000000,0.000000,1.000000,-1.000000,0.00000,0.000000
50%,372.500000,628.000000,210.500000,377.500000,4.000000,0.000000,17.000000,2.000000,8.00000,0.000000
75%,572.250000,1615.000000,549.250000,988.750000,17.000000,0.000000,65.000000,26.000000,33.00000,0.250000
max,766.000000,140743.000000,41121.000000,127124.000000,6648.000000,297.000000,3091.000000,1615.000000,4650.00000,62.000000

2. Data cleaning :

In [9]:
if data.duplicated().sum()>0:
    print('duplicated are present')
else :
    print('No duplicated')

No duplicated

In [10]:
data.duplicated()
data.duplicated(keep=False).sum()

np.int64(0)

In [28]:
len('State and District_level_latest.csv')

35

In [29]:
data.shape

(800, 15)

In [30]:
data.isnull()

,SlNo,State_Code,State,District_Key,District,Confirmed,Active,Recovered,Deceased,Migrated_Other,Delta_Confirmed,Delta_Active,Delta_Recovered,Delta_Deceased,Unnamed: 14
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
796,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
797,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
798,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
799,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True

In [31]:
data.isnull().sum()

SlNo                 0
State_Code           0
State                0
District_Key         0
District             0
Confirmed            0
Active               0
Recovered            0
Deceased             0
Migrated_Other       0
Delta_Confirmed      0
Delta_Active         0
Delta_Recovered      0
Delta_Deceased       0
Unnamed: 14        743
dtype: int64

3.typse of state and district:

In [11]:
data.head(10)

,SlNo,State_Code,State,District_Key,District,Confirmed,Active,Recovered,Deceased,Migrated_Other,Delta_Confirmed,Delta_Active,Delta_Recovered,Delta_Deceased,Unnamed: 14
0,0,UN,State Unassigned,UN_Unassigned,Unassigned,0,0,0,0,0,0,0,0,0,NaN
1,1,AN,Andaman and Nicobar Islands,AN_Nicobars,Nicobars,0,0,0,0,0,0,0,0,0,NaN
2,2,AN,Andaman and Nicobar Islands,AN_North and Middle Andaman,North and Middle Andaman,1,0,1,0,0,0,0,0,0,NaN
3,3,AN,Andaman and Nicobar Islands,AN_South Andaman,South Andaman,51,19,32,0,0,0,0,0,0,NaN
4,0,AP,Andhra Pradesh,AP_Foreign Evacuees,Foreign Evacuees,434,0,434,0,0,0,0,0,0,NaN
5,4,AP,Andhra Pradesh,AP_Anantapur,Anantapur,21173,6768,14263,142,0,1112,-494,1596,10,NaN
6,5,AP,Andhra Pradesh,AP_Chittoor,Chittoor,14306,6215,7948,143,0,755,251,496,8,NaN
7,6,AP,Andhra Pradesh,AP_East Godavari,East Godavari,27580,12583,14792,205,0,1351,973,368,10,NaN
8,7,AP,Andhra Pradesh,AP_Guntur,Guntur,19419,7224,12007,188,0,868,226,633,9,NaN
9,8,AP,Andhra Pradesh,AP_Krishna,Krishna,9042,3012,5832,198,0,363,57,300,6,NaN

In [ ]:
# type of State_Code
Types_of_Code = data['State_Code'].unique()
print(Types_of_Code)

['UN' 'AN' 'AP' 'AR' 'AS' 'BR' 'CH' 'CT' 'DL' 'DN' 'GA' 'GJ' 'HP' 'HR'
 'JH' 'JK' 'KA' 'KL' 'LA' 'LD' 'MH' 'ML' 'MN' 'MP' 'MZ' 'NL' 'OR' 'PB'
 'PY' 'RJ' 'SK' 'TG' 'TN' 'TR' 'UP' 'UT' 'WB']

In [13]:
numbers_of_Code= data['State_Code'].value_counts().reset_index()
print(numbers_of_Code)

   State_Code  count
0          UP     76
1          MP     54
2          TN     41
3          BR     39
4          RJ     38
5          MH     38
6          AS     36
7          TG     36
8          GJ     35
9          OR     32
10         KA     32
11         CT     30
12         AR     26
13         HR     25
14         JH     25
15         WB     25
16         PB     23
17         JK     23
18         MN     18
19         AP     16
20         KL     16
21         UT     14
22         NL     13
23         HP     13
24         DL     12
25         MZ     12
26         ML     12
27         TR      9
28         DN      5
29         PY      5
30         SK      5
31         GA      4
32         AN      4
33         LA      3
34         LD      2
35         CH      2
36         UN      1

In [14]:
# type of District
Types_of_Districtkey = data['District_Key'].unique()
print(Types_of_Districtkey)

['UN_Unassigned' 'AN_Nicobars' 'AN_North and Middle Andaman'
 'AN_South Andaman' 'AP_Foreign Evacuees' 'AP_Anantapur' 'AP_Chittoor'
 'AP_East Godavari' 'AP_Guntur' 'AP_Krishna' 'AP_Kurnool' 'AP_Other State'
 'AP_Prakasam' 'AP_S.P.S. Nellore' 'AP_Srikakulam' 'AP_Visakhapatnam'
 'AP_Vizianagaram' 'AP_West Godavari' 'AP_Y.S.R. Kadapa' 'AR_Anjaw'
 'AR_Changlang' 'AR_East Kameng' 'AR_East Siang' 'AR_Kamle' 'AR_Kra Daadi'
 'AR_Kurung Kumey' 'AR_Lepa Rada' 'AR_Lohit' 'AR_Longding'
 'AR_Lower Dibang Valley' 'AR_Lower Siang' 'AR_Lower Subansiri'
 'AR_Namsai' 'AR_Pakke Kessang' 'AR_Papum Pare' 'AR_Shi Yomi' 'AR_Siang'
 'AR_Tawang' 'AR_Tirap' 'AR_Upper Dibang Valley' 'AR_Upper Siang'
 'AR_Upper Subansiri' 'AR_West Kameng' 'AR_West Siang'
 'AS_Airport Quarantine' 'AS_Baksa' 'AS_Barpeta' 'AS_Biswanath'
 'AS_Bongaigaon' 'AS_Cachar' 'AS_Charaideo' 'AS_Chirang' 'AS_Darrang'
 'AS_Dhemaji' 'AS_Dhubri' 'AS_Dibrugarh' 'AS_Dima Hasao' 'AS_Goalpara'
 'AS_Golaghat' 'AS_Hailakandi' 'AS_Hojai' 'AS_Jorhat' 'AS_Kamrup'
 'AS_Kamrup Metropolitan' 'AS_Karbi Anglong' 'AS_Karimganj' 'AS_Kokrajhar'
 'AS_Lakhimpur' 'AS_Majuli' 'AS_Morigaon' 'AS_Nagaon' 'AS_Nalbari'
 'AS_Other State' 'AS_Sivasagar' 'AS_Sonitpur'
 'AS_South Salmara Mankachar' 'AS_Tinsukia' 'AS_Udalguri'
 'AS_West Karbi Anglong' 'BR_Araria' 'BR_Arwal' 'BR_Aurangabad' 'BR_Banka'
 'BR_Begusarai' 'BR_Bhagalpur' 'BR_Bhojpur' 'BR_Buxar' 'BR_Darbhanga'
 'BR_East Champaran' 'BR_Gaya' 'BR_Gopalganj' 'BR_Jamui' 'BR_Jehanabad'
 'BR_Kaimur' 'BR_Katihar' 'BR_Khagaria' 'BR_Kishanganj' 'BR_Lakhisarai'
 'BR_Madhepura' 'BR_Madhubani' 'BR_Munger' 'BR_Muzaffarpur' 'BR_Nalanda'
 'BR_Nawada' 'BR_Patna' 'BR_Purnia' 'BR_Rohtas' 'BR_Saharsa'
 'BR_Samastipur' 'BR_Saran' 'BR_Sheikhpura' 'BR_Sheohar' 'BR_Sitamarhi'
 'BR_Siwan' 'BR_Supaul' 'BR_Vaishali' 'BR_West Champaran' 'CH_Chandigarh'
 'CT_Other State' 'CT_Balod' 'CT_Baloda Bazar' 'CT_Balrampur'
 'CT_Bametara' 'CT_Bastar' 'CT_Bijapur' 'CT_Bilaspur'
 'CT_Dakshin Bastar Dantewada' 'CT_Dhamtari' 'CT_Durg' 'CT_Gariaband'
 'CT_Janjgir Champa' 'CT_Jashpur' 'CT_Kabeerdham' 'CT_Kondagaon'
 'CT_Korba' 'CT_Koriya' 'CT_Mahasamund' 'CT_Mungeli' 'CT_Narayanpur'
 'CT_Raigarh' 'CT_Raipur' 'CT_Rajnandgaon' 'CT_Sukma' 'CT_Surajpur'
 'CT_Surguja' 'CT_Uttar Bastar Kanker' 'CT_Gaurela Pendra Marwahi'
 'DL_Central Delhi' 'DL_East Delhi' 'DL_New Delhi' 'DL_North Delhi'
 'DL_North East Delhi' 'DL_North West Delhi' 'DL_Shahdara'
 'DL_South Delhi' 'DL_South East Delhi' 'DL_South West Delhi'
 'DL_West Delhi' 'DN_Other State' 'DN_Dadra and Nagar Haveli' 'DN_Daman'
 'DN_Diu' 'GA_Other State' 'GA_North Goa' 'GA_South Goa' 'GJ_Other State'
 'GJ_Ahmedabad' 'GJ_Amreli' 'GJ_Anand' 'GJ_Aravalli' 'GJ_Banaskantha'
 'GJ_Bharuch' 'GJ_Bhavnagar' 'GJ_Botad' 'GJ_Chhota Udaipur' 'GJ_Dahod'
 'GJ_Dang' 'GJ_Devbhumi Dwarka' 'GJ_Gandhinagar' 'GJ_Gir Somnath'
 'GJ_Jamnagar' 'GJ_Junagadh' 'GJ_Kheda' 'GJ_Kutch' 'GJ_Mahisagar'
 'GJ_Mehsana' 'GJ_Morbi' 'GJ_Narmada' 'GJ_Navsari' 'GJ_Panchmahal'
 'GJ_Patan' 'GJ_Porbandar' 'GJ_Rajkot' 'GJ_Sabarkantha' 'GJ_Surat'
 'GJ_Surendranagar' 'GJ_Tapi' 'GJ_Vadodara' 'GJ_Valsad' 'HP_Bilaspur'
 'HP_Chamba' 'HP_Hamirpur' 'HP_Kangra' 'HP_Kinnaur' 'HP_Kullu'
 'HP_Lahaul and Spiti' 'HP_Mandi' 'HP_Shimla' 'HP_Sirmaur' 'HP_Solan'
 'HP_Una' 'HR_Foreign Evacuees' 'HR_Ambala' 'HR_Bhiwani'
 'HR_Charkhi Dadri' 'HR_Faridabad' 'HR_Fatehabad' 'HR_Gurugram' 'HR_Hisar'
 'HR_Italians' 'HR_Jhajjar' 'HR_Jind' 'HR_Kaithal' 'HR_Karnal'
 'HR_Kurukshetra' 'HR_Mahendragarh' 'HR_Nuh' 'HR_Palwal' 'HR_Panchkula'
 'HR_Panipat' 'HR_Rewari' 'HR_Rohtak' 'HR_Sirsa' 'HR_Sonipat'
 'HR_Yamunanagar' 'JH_Bokaro' 'JH_Chatra' 'JH_Deoghar' 'JH_Dhanbad'
 'JH_Dumka' 'JH_East Singhbhum' 'JH_Garhwa' 'JH_Giridih' 'JH_Godda'
 'JH_Gumla' 'JH_Hazaribagh' 'JH_Jamtara' 'JH_Khunti' 'JH_Koderma'
 'JH_Latehar' 'JH_Lohardaga' 'JH_Pakur' 'JH_Palamu' 'JH_Ramgarh'
 'JH_Ranchi' 'JH_Sahibganj' 'JH_Saraikela-Kharsawan' 'JH_Simdega'
 'JH_West Singhbhum' 'JK_Anantnag' 'JK_Bandipora' 'JK_Baramulla'
 'JK_Budgam' 'JK_Doda' 'JK_Ganderbal' 'JK_Jammu' 'JK_Kathua' 'JK_Kishtwar'
 'JK_Kulgam' 'JK_Kupwara' 'JK_Mirpur' 'JK_Muzaffarabad' 'JK_Pulwama'
 'JK_Punch' 'JK_Rajouri' 'JK_Ramban' 'JK_Reasi' 'JK_Samba' 'JK_Shopiyan'
 'JK_Srinagar' 'JK_Udhampur' 'KA_Bagalkote' 'KA_Ballari' 'KA_Belagavi'
 'KA_Bengaluru Rural' 'KA_Bengaluru Urban' 'KA_Bidar' 'KA_Chamarajanagara'
 'KA_Chikkaballapura' 'KA_Chikkamagaluru' 'KA_Chitradurga'
 'KA_Dakshina Kannada' 'KA_Davanagere' 'KA_Dharwad' 'KA_Gadag' 'KA_Hassan'
 'KA_Haveri' 'KA_Kalaburagi' 'KA_Kodagu' 'KA_Kolar' 'KA_Koppal'
 'KA_Mandya' 'KA_Mysuru' 'KA_Other State' 'KA_Raichur' 'KA_Ramanagara'
 'KA_Shivamogga' 'KA_Tumakuru' 'KA_Udupi' 'KA_Uttara Kannada'
 'KA_Vijayapura' 'KA_Yadgir' 'KL_Other State' 'KL_Alappuzha'
 'KL_Ernakulam' 'KL_Idukki' 'KL_Kannur' 'KL_Kasaragod' 'KL_Kollam'
 'KL_Kottayam' 'KL_Kozhikode' 'KL_Malappuram' 'KL_Palakkad'
 'KL_Pathanamthitta' 'KL_Thiruvananthapuram' 'KL_Thrissur' 'KL_Wayanad'
 'LA_Kargil' 'LA_Leh' 'LD_Lakshadweep' 'MH_Ahmednagar' 'MH_Akola'
 'MH_Amravati' 'MH_Aurangabad' 'MH_Beed' 'MH_Bhandara' 'MH_Buldhana'
 'MH_Chandrapur' 'MH_Dhule' 'MH_Gadchiroli' 'MH_Gondia' 'MH_Hingoli'
 'MH_Jalgaon' 'MH_Jalna' 'MH_Kolhapur' 'MH_Latur' 'MH_Mumbai'
 'MH_Mumbai Suburban' 'MH_Nagpur' 'MH_Nanded' 'MH_Nandurbar' 'MH_Nashik'
 'MH_Osmanabad' 'MH_Other State' 'MH_Palghar' 'MH_Parbhani' 'MH_Pune'
 'MH_Raigad' 'MH_Ratnagiri' 'MH_Sangli' 'MH_Satara' 'MH_Sindhudurg'
 'MH_Solapur' 'MH_Thane' 'MH_Wardha' 'MH_Washim' 'MH_Yavatmal'
 'ML_East Garo Hills' 'ML_East Jaintia Hills' 'ML_East Khasi Hills'
 'ML_North Garo Hills' 'ML_Ribhoi' 'ML_South Garo Hills'
 'ML_South West Garo Hills' 'ML_South West Khasi Hills'
 'ML_West Garo Hills' 'ML_West Jaintia Hills' 'ML_West Khasi Hills'
 'MN_CAPF Personnel' 'MN_Bishnupur' 'MN_Chandel' 'MN_Churachandpur'
 'MN_Imphal East' 'MN_Imphal West' 'MN_Jiribam' 'MN_Kakching' 'MN_Kamjong'
 'MN_Kangpokpi' 'MN_Noney' 'MN_Pherzawl' 'MN_Senapati' 'MN_Tamenglong'
 'MN_Tengnoupal' 'MN_Thoubal' 'MN_Ukhrul' 'MP_Agar Malwa' 'MP_Alirajpur'
 'MP_Anuppur' 'MP_Ashoknagar' 'MP_Balaghat' 'MP_Barwani' 'MP_Betul'
 'MP_Bhind' 'MP_Bhopal' 'MP_Burhanpur' 'MP_Chhatarpur' 'MP_Chhindwara'
 'MP_Damoh' 'MP_Datia' 'MP_Dewas' 'MP_Dhar' 'MP_Dindori' 'MP_Guna'
 'MP_Gwalior' 'MP_Harda' 'MP_Hoshangabad' 'MP_Indore' 'MP_Jabalpur'
 'MP_Jhabua' 'MP_Katni' 'MP_Khandwa' 'MP_Khargone' 'MP_Mandla'
 'MP_Mandsaur' 'MP_Morena' 'MP_Narsinghpur' 'MP_Neemuch' 'MP_Niwari'
 'MP_Other Region' 'MP_Panna' 'MP_Raisen' 'MP_Rajgarh' 'MP_Ratlam'
 'MP_Rewa' 'MP_Sagar' 'MP_Satna' 'MP_Sehore' 'MP_Seoni' 'MP_Shahdol'
 'MP_Shajapur' 'MP_Sheopur' 'MP_Shivpuri' 'MP_Sidhi' 'MP_Singrauli'
 'MP_Tikamgarh' 'MP_Ujjain' 'MP_Umaria' 'MP_Vidisha' 'MZ_Aizawl'
 'MZ_Champhai' 'MZ_Hnahthial' 'MZ_Khawzawl' 'MZ_Kolasib' 'MZ_Lawngtlai'
 'MZ_Lunglei' 'MZ_Mamit' 'MZ_Saiha' 'MZ_Saitual' 'MZ_Serchhip' 'NL_Others'
 'NL_Dimapur' 'NL_Kiphire' 'NL_Kohima' 'NL_Longleng' 'NL_Mokokchung'
 'NL_Mon' 'NL_Peren' 'NL_Phek' 'NL_Tuensang' 'NL_Wokha' 'NL_Zunheboto'
 'OR_Others' 'OR_Angul' 'OR_Balangir' 'OR_Balasore' 'OR_Bargarh'
 'OR_Bhadrak' 'OR_Boudh' 'OR_Cuttack' 'OR_Deogarh' 'OR_Dhenkanal'
 'OR_Gajapati' 'OR_Ganjam' 'OR_Jagatsinghpur' 'OR_Jajpur' 'OR_Jharsuguda'
 'OR_Kalahandi' 'OR_Kandhamal' 'OR_Kendrapara' 'OR_Kendujhar' 'OR_Khordha'
 'OR_Koraput' 'OR_Malkangiri' 'OR_Mayurbhanj' 'OR_Nabarangapur'
 'OR_Nayagarh' 'OR_Nuapada' 'OR_Puri' 'OR_Rayagada' 'OR_Sambalpur'
 'OR_Subarnapur' 'OR_Sundargarh' 'PB_Amritsar' 'PB_Barnala' 'PB_Bathinda'
 'PB_Faridkot' 'PB_Fatehgarh Sahib' 'PB_Fazilka' 'PB_Ferozepur'
 'PB_Gurdaspur' 'PB_Hoshiarpur' 'PB_Jalandhar' 'PB_Kapurthala'
 'PB_Ludhiana' 'PB_Mansa' 'PB_Moga' 'PB_Pathankot' 'PB_Patiala'
 'PB_Rupnagar' 'PB_S.A.S. Nagar' 'PB_Sangrur'
 'PB_Shahid Bhagat Singh Nagar' 'PB_Sri Muktsar Sahib' 'PB_Tarn Taran'
 'PY_Karaikal' 'PY_Mahe' 'PY_Puducherry' 'PY_Yanam' 'RJ_Ajmer' 'RJ_Alwar'
 'RJ_Banswara' 'RJ_Baran' 'RJ_Barmer' 'RJ_Bharatpur' 'RJ_Bhilwara'
 'RJ_Bikaner' 'RJ_BSF Camp' 'RJ_Bundi' 'RJ_Chittorgarh' 'RJ_Churu'
 'RJ_Dausa' 'RJ_Dholpur' 'RJ_Dungarpur' 'RJ_Evacuees' 'RJ_Ganganagar'
 'RJ_Hanumangarh' 'RJ_Italians' 'RJ_Jaipur' 'RJ_Jaisalmer' 'RJ_Jalore'
 'RJ_Jhalawar' 'RJ_Jhunjhunu' 'RJ_Jodhpur' 'RJ_Karauli' 'RJ_Kota'
 'RJ_Nagaur' 'RJ_Other State' 'RJ_Pali' 'RJ_Pratapgarh' 'RJ_Rajsamand'
 'RJ_Sawai Madhopur' 'RJ_Sikar' 'RJ_Sirohi' 'RJ_Tonk' 'RJ_Udaipur'
 'SK_East Sikkim' 'SK_North Sikkim' 'SK_South Sikkim' 'SK_West Sikkim'
 'TG_Foreign Evacuees' 'TG_Other State' 'TG_Adilabad'
 'TG_Bhadradri Kothagudem' 'TG_Hyderabad' 'TG_Jagtial' 'TG_Jangaon'
 'TG_Jayashankar Bhupalapally' 'TG_Jogulamba Gadwal' 'TG_Kamareddy'
 'TG_Karimnagar' 'TG_Khammam' 'TG_Komaram Bheem' 'TG_Mahabubabad'
 'TG_Mahabubnagar' 'TG_Mancherial' 'TG_Medak' 'TG_Medchal Malkajgiri'
 'TG_Mulugu' 'TG_Nagarkurnool' 'TG_Nalgonda' 'TG_Narayanpet' 'TG_Nirmal'
 'TG_Nizamabad' 'TG_Peddapalli' 'TG_Rajanna Sircilla' 'TG_Ranga Reddy'
 'TG_Sangareddy' 'TG_Siddipet' 'TG_Suryapet' 'TG_Vikarabad'
 'TG_Wanaparthy' 'TG_Warangal Rural' 'TG_Warangal Urban'
 'TG_Yadadri Bhuvanagiri' 'TN_Railway Quarantine' 'TN_Airport Quarantine'
 'TN_Other State' 'TN_Ariyalur' 'TN_Chengalpattu' 'TN_Chennai'
 'TN_Coimbatore' 'TN_Cuddalore' 'TN_Dharmapuri' 'TN_Dindigul' 'TN_Erode'
 'TN_Kallakurichi' 'TN_Kancheepuram' 'TN_Kanyakumari' 'TN_Karur'
 'TN_Krishnagiri' 'TN_Madurai' 'TN_Nagapattinam' 'TN_Namakkal'
 'TN_Nilgiris' 'TN_Perambalur' 'TN_Pudukkottai' 'TN_Ramanathapuram'
 'TN_Ranipet' 'TN_Salem' 'TN_Sivaganga' 'TN_Tenkasi' 'TN_Thanjavur'
 'TN_Theni' 'TN_Thiruvallur' 'TN_Thiruvarur' 'TN_Thoothukkudi'
 'TN_Tiruchirappalli' 'TN_Tirunelveli' 'TN_Tirupathur' 'TN_Tiruppur'
 'TN_Tiruvannamalai' 'TN_Vellore' 'TN_Viluppuram' 'TN_Virudhunagar'
 'TR_Dhalai' 'TR_Gomati' 'TR_Khowai' 'TR_North Tripura' 'TR_Sipahijala'
 'TR_South Tripura' 'TR_Unokoti' 'TR_West Tripura' 'UP_Agra' 'UP_Aligarh'
 'UP_Ambedkar Nagar' 'UP_Amethi' 'UP_Amroha' 'UP_Auraiya' 'UP_Ayodhya'
 'UP_Azamgarh' 'UP_Baghpat' 'UP_Bahraich' 'UP_Ballia' 'UP_Balrampur'
 'UP_Banda' 'UP_Barabanki' 'UP_Bareilly' 'UP_Basti' 'UP_Bhadohi'
 'UP_Bijnor' 'UP_Budaun' 'UP_Bulandshahr' 'UP_Chandauli' 'UP_Chitrakoot'
 'UP_Deoria' 'UP_Etah' 'UP_Etawah' 'UP_Farrukhabad' 'UP_Fatehpur'
 'UP_Firozabad' 'UP_Gautam Buddha Nagar' 'UP_Ghaziabad' 'UP_Ghazipur'
 'UP_Gonda' 'UP_Gorakhpur' 'UP_Hamirpur' 'UP_Hapur' 'UP_Hardoi'
 'UP_Hathras' 'UP_Jalaun' 'UP_Jaunpur' 'UP_Jhansi' 'UP_Kannauj'
 'UP_Kanpur Dehat' 'UP_Kanpur Nagar' 'UP_Kasganj' 'UP_Kaushambi'
 'UP_Kushinagar' 'UP_Lakhimpur Kheri' 'UP_Lalitpur' 'UP_Lucknow'
 'UP_Maharajganj' 'UP_Mahoba' 'UP_Mainpuri' 'UP_Mathura' 'UP_Mau'
 'UP_Meerut' 'UP_Mirzapur' 'UP_Moradabad' 'UP_Muzaffarnagar' 'UP_Pilibhit'
 'UP_Pratapgarh' 'UP_Prayagraj' 'UP_Rae Bareli' 'UP_Rampur'
 'UP_Saharanpur' 'UP_Sambhal' 'UP_Sant Kabir Nagar' 'UP_Shahjahanpur'
 'UP_Shamli' 'UP_Shrawasti' 'UP_Siddharthnagar' 'UP_Sitapur'
 'UP_Sonbhadra' 'UP_Sultanpur' 'UP_Unnao' 'UP_Varanasi' 'UT_Almora'
 'UT_Bageshwar' 'UT_Chamoli' 'UT_Champawat' 'UT_Dehradun' 'UT_Haridwar'
 'UT_Nainital' 'UT_Pauri Garhwal' 'UT_Pithoragarh' 'UT_Rudraprayag'
 'UT_Tehri Garhwal' 'UT_Udham Singh Nagar' 'UT_Uttarkashi' 'WB_Alipurduar'
 'WB_Bankura' 'WB_Birbhum' 'WB_Cooch Behar' 'WB_Dakshin Dinajpur'
 'WB_Darjeeling' 'WB_Hooghly' 'WB_Howrah' 'WB_Jalpaiguri' 'WB_Jhargram'
 'WB_Kalimpong' 'WB_Kolkata' 'WB_Malda' 'WB_Murshidabad' 'WB_Nadia'
 'WB_North 24 Parganas' 'WB_Other State' 'WB_Paschim Bardhaman'
 'WB_Paschim Medinipur' 'WB_Purba Bardhaman' 'WB_Purba Medinipur'
 'WB_Purulia' 'WB_South 24 Parganas' 'WB_Uttar Dinajpur' 'AN_Unknown'
 'AP_Unknown' 'AR_Unknown' 'AS_Unknown' 'BR_Unknown' 'CH_Unknown'
 'CT_Unknown' 'DN_Unknown' 'DL_Unknown' 'GA_Unknown' 'GJ_Unknown'
 'HR_Unknown' 'HP_Unknown' 'JK_Unknown' 'JH_Unknown' 'KA_Unknown'
 'KL_Unknown' 'LA_Unknown' 'LD_Unknown' 'MP_Unknown' 'MH_Unknown'
 'MN_Unknown' 'ML_Unknown' 'MZ_Unknown' 'NL_Unknown' 'OR_Unknown'
 'PY_Unknown' 'PB_Unknown' 'RJ_Unknown' 'SK_Unknown' 'TN_Unknown'
 'TG_Unknown' 'TR_Unknown' 'UP_Unknown' 'UT_Unknown' 'WB_Unknown']

In [15]:
numbers_of_Districtkey= data['District_Key'].value_counts().reset_index()
print(numbers_of_Districtkey)

             District_Key  count
0      WB_Purba Medinipur      1
1              WB_Purulia      1
2    WB_South 24 Parganas      1
3       WB_Uttar Dinajpur      1
4              AN_Unknown      1
..                    ...    ...
795      AN_South Andaman      1
796   AP_Foreign Evacuees      1
797          AP_Anantapur      1
798           AP_Chittoor      1
799      AP_East Godavari      1

[800 rows x 2 columns]

In [16]:
numbers_of_Deceased= data['Deceased'].value_counts().reset_index()
print(numbers_of_Deceased)

     Deceased  count
0           0    230
1           1     68
2           2     52
3           3     38
4           4     27
..        ...    ...
126       887      1
127       430      1
128       108      1
129      4058      1
130       559      1

[131 rows x 2 columns]

In [17]:
numbers_of_Confirmed= data['Confirmed'].value_counts().reset_index()
print(numbers_of_Confirmed)

     Confirmed  count
0            0     46
1            1      7
2            4      6
3           46      5
4          354      4
..         ...    ...
629       7325      1
630     140743      1
631       3941      1
632         29      1
633       9636      1

[634 rows x 2 columns]

4.states per recover,active and Deceased :

In [18]:
data.head(10)

,SlNo,State_Code,State,District_Key,District,Confirmed,Active,Recovered,Deceased,Migrated_Other,Delta_Confirmed,Delta_Active,Delta_Recovered,Delta_Deceased,Unnamed: 14
0,0,UN,State Unassigned,UN_Unassigned,Unassigned,0,0,0,0,0,0,0,0,0,NaN
1,1,AN,Andaman and Nicobar Islands,AN_Nicobars,Nicobars,0,0,0,0,0,0,0,0,0,NaN
2,2,AN,Andaman and Nicobar Islands,AN_North and Middle Andaman,North and Middle Andaman,1,0,1,0,0,0,0,0,0,NaN
3,3,AN,Andaman and Nicobar Islands,AN_South Andaman,South Andaman,51,19,32,0,0,0,0,0,0,NaN
4,0,AP,Andhra Pradesh,AP_Foreign Evacuees,Foreign Evacuees,434,0,434,0,0,0,0,0,0,NaN
5,4,AP,Andhra Pradesh,AP_Anantapur,Anantapur,21173,6768,14263,142,0,1112,-494,1596,10,NaN
6,5,AP,Andhra Pradesh,AP_Chittoor,Chittoor,14306,6215,7948,143,0,755,251,496,8,NaN
7,6,AP,Andhra Pradesh,AP_East Godavari,East Godavari,27580,12583,14792,205,0,1351,973,368,10,NaN
8,7,AP,Andhra Pradesh,AP_Guntur,Guntur,19419,7224,12007,188,0,868,226,633,9,NaN
9,8,AP,Andhra Pradesh,AP_Krishna,Krishna,9042,3012,5832,198,0,363,57,300,6,NaN

In [19]:
covid_per_states= data.groupby('State')['Confirmed'].sum().reset_index()
print(covid_per_states)

covid_per_states= covid_per_states.rename(columns={'state': 'Confirmed','confirmed':'Total confirmed'})
print(covid_per_states)

                                       State  Confirmed
0                Andaman and Nicobar Islands       1123
1                             Andhra Pradesh     196789
2                          Arunachal Pradesh       1948
3                                      Assam      52818
4                                      Bihar      68148
5                                 Chandigarh       1327
6                               Chhattisgarh      11020
7   Dadra and Nagar Haveli and Daman and Diu       1415
8                                      Delhi     141531
9                                        Goa       7614
10                                   Gujarat      67811
11                                   Haryana      39303
12                          Himachal Pradesh       3047
13                         Jammu and Kashmir      23454
14                                 Jharkhand      15756
15                                 Karnataka     158254
16                                    Kerala      30449
17                                    Ladakh       1595
18                               Lakshadweep          0
19                            Madhya Pradesh      36564
20                               Maharashtra     479779
21                                   Manipur       3217
22                                 Meghalaya        990
23                                   Mizoram        538
24                                  Nagaland       2580
25                                    Odisha      40717
26                                Puducherry       4621
27                                    Punjab      20891
28                                 Rajasthan      48996
29                                    Sikkim        829
30                          State Unassigned          0
31                                Tamil Nadu     279144
32                                 Telangana      73050
33                                   Tripura       5740
34                             Uttar Pradesh     108974
35                               Uttarakhand       8623
36                               West Bengal      86754
                                       State  Confirmed
0                Andaman and Nicobar Islands       1123
1                             Andhra Pradesh     196789
2                          Arunachal Pradesh       1948
3                                      Assam      52818
4                                      Bihar      68148
5                                 Chandigarh       1327
6                               Chhattisgarh      11020
7   Dadra and Nagar Haveli and Daman and Diu       1415
8                                      Delhi     141531
9                                        Goa       7614
10                                   Gujarat      67811
11                                   Haryana      39303
12                          Himachal Pradesh       3047
13                         Jammu and Kashmir      23454
14                                 Jharkhand      15756
15                                 Karnataka     158254
16                                    Kerala      30449
17                                    Ladakh       1595
18                               Lakshadweep          0
19                            Madhya Pradesh      36564
20                               Maharashtra     479779
21                                   Manipur       3217
22                                 Meghalaya        990
23                                   Mizoram        538
24                                  Nagaland       2580
25                                    Odisha      40717
26                                Puducherry       4621
27                                    Punjab      20891
28                                 Rajasthan      48996
29                                    Sikkim        829
30                          State Unassigned          0
31                                Tamil Nadu     279144
32                                 Telangana      73050
33                                   Tripura       5740
34                             Uttar Pradesh     108974
35                               Uttarakhand       8623
36                               West Bengal      86754

In [20]:
Deceased_per_states= data.groupby('State')['Deceased'].sum().reset_index()
print(Deceased_per_states)

Deceased_per_states= Deceased_per_states.rename(columns={'state': 'Deceased','Deceased':'Total Deceased'})
print(Deceased_per_states)

                                       State  Deceased
0                Andaman and Nicobar Islands        16
1                             Andhra Pradesh      1753
2                          Arunachal Pradesh         3
3                                      Assam       126
4                                      Bihar       388
5                                 Chandigarh        20
6                               Chhattisgarh        77
7   Dadra and Nagar Haveli and Daman and Diu         2
8                                      Delhi      4059
9                                        Goa        66
10                                   Gujarat      2579
11                                   Haryana       458
12                          Himachal Pradesh        13
13                         Jammu and Kashmir       436
14                                 Jharkhand       145
15                                 Karnataka      2897
16                                    Kerala        98
17                                    Ladakh         7
18                               Lakshadweep         0
19                            Madhya Pradesh       946
20                               Maharashtra     16792
21                                   Manipur         8
22                                 Meghalaya         5
23                                   Mizoram         0
24                                  Nagaland         6
25                                    Odisha       280
26                                Puducherry        70
27                                    Punjab       517
28                                 Rajasthan       757
29                                    Sikkim         1
30                          State Unassigned         0
31                                Tamil Nadu      4571
32                                 Telangana       589
33                                   Tripura        31
34                             Uttar Pradesh      1918
35                               Uttarakhand       102
36                               West Bengal      1902
                                       State  Total Deceased
0                Andaman and Nicobar Islands              16
1                             Andhra Pradesh            1753
2                          Arunachal Pradesh               3
3                                      Assam             126
4                                      Bihar             388
5                                 Chandigarh              20
6                               Chhattisgarh              77
7   Dadra and Nagar Haveli and Daman and Diu               2
8                                      Delhi            4059
9                                        Goa              66
10                                   Gujarat            2579
11                                   Haryana             458
12                          Himachal Pradesh              13
13                         Jammu and Kashmir             436
14                                 Jharkhand             145
15                                 Karnataka            2897
16                                    Kerala              98
17                                    Ladakh               7
18                               Lakshadweep               0
19                            Madhya Pradesh             946
20                               Maharashtra           16792
21                                   Manipur               8
22                                 Meghalaya               5
23                                   Mizoram               0
24                                  Nagaland               6
25                                    Odisha             280
26                                Puducherry              70
27                                    Punjab             517
28                                 Rajasthan             757
29                                    Sikkim               1
30                          State Unassigned               0
31                                Tamil Nadu            4571
32                                 Telangana             589
33                                   Tripura              31
34                             Uttar Pradesh            1918
35                               Uttarakhand             102
36                               West Bengal            1902

In [21]:
Recovered_per_states= data.groupby('State')['Recovered'].sum().reset_index()
print(Recovered_per_states)

Recovered_per_states= Recovered_per_states.rename(columns={'state': 'Recovered','Recovered':'Total Recovered'})
print(Recovered_per_states)

                                       State  Recovered
0                Andaman and Nicobar Islands        355
1                             Andhra Pradesh     112870
2                          Arunachal Pradesh       1245
3                                      Assam      37225
4                                      Bihar      43820
5                                 Chandigarh        777
6                               Chhattisgarh       8088
7   Dadra and Nagar Haveli and Daman and Diu        997
8                                      Delhi     127124
9                                        Goa       5453
10                                   Gujarat      50524
11                                   Haryana      32640
12                          Himachal Pradesh       1865
13                         Jammu and Kashmir      15708
14                                 Jharkhand       6594
15                                 Karnataka      80281
16                                    Kerala      18333
17                                    Ladakh       1177
18                               Lakshadweep          0
19                            Madhya Pradesh      26902
20                               Maharashtra     316375
21                                   Manipur       1905
22                                 Meghalaya        345
23                                   Mizoram        288
24                                  Nagaland        819
25                                    Odisha      26888
26                                Puducherry       2808
27                                    Punjab      13659
28                                 Rajasthan      35131
29                                    Sikkim        353
30                          State Unassigned          0
31                                Tamil Nadu     221087
32                                 Telangana      52103
33                                   Tripura       3793
34                             Uttar Pradesh      63402
35                               Uttarakhand       5427
36                               West Bengal      61023
                                       State  Total Recovered
0                Andaman and Nicobar Islands              355
1                             Andhra Pradesh           112870
2                          Arunachal Pradesh             1245
3                                      Assam            37225
4                                      Bihar            43820
5                                 Chandigarh              777
6                               Chhattisgarh             8088
7   Dadra and Nagar Haveli and Daman and Diu              997
8                                      Delhi           127124
9                                        Goa             5453
10                                   Gujarat            50524
11                                   Haryana            32640
12                          Himachal Pradesh             1865
13                         Jammu and Kashmir            15708
14                                 Jharkhand             6594
15                                 Karnataka            80281
16                                    Kerala            18333
17                                    Ladakh             1177
18                               Lakshadweep                0
19                            Madhya Pradesh            26902
20                               Maharashtra           316375
21                                   Manipur             1905
22                                 Meghalaya              345
23                                   Mizoram              288
24                                  Nagaland              819
25                                    Odisha            26888
26                                Puducherry             2808
27                                    Punjab            13659
28                                 Rajasthan            35131
29                                    Sikkim              353
30                          State Unassigned                0
31                                Tamil Nadu           221087
32                                 Telangana            52103
33                                   Tripura             3793
34                             Uttar Pradesh            63402
35                               Uttarakhand             5427
36                               West Bengal            61023

In [22]:
Active_per_states= data.groupby('State')['Active'].sum().reset_index()
print(Active_per_states)

Active_per_states= Active_per_states.rename(columns={'state': 'Active','Active':'Total Active'})
print(Active_per_states)

                                       State  Active
0                Andaman and Nicobar Islands     752
1                             Andhra Pradesh   82166
2                          Arunachal Pradesh     700
3                                      Assam   15431
4                                      Bihar   23939
5                                 Chandigarh     529
6                               Chhattisgarh    2855
7   Dadra and Nagar Haveli and Daman and Diu     406
8                                      Delhi   10348
9                                        Goa    2095
10                                   Gujarat   14708
11                                   Haryana    6205
12                          Himachal Pradesh    1141
13                         Jammu and Kashmir    7310
14                                 Jharkhand    9017
15                                 Karnataka   75067
16                                    Kerala   11983
17                                    Ladakh     411
18                               Lakshadweep       0
19                            Madhya Pradesh    8716
20                               Maharashtra  146305
21                                   Manipur    1304
22                                 Meghalaya     640
23                                   Mizoram     249
24                                  Nagaland    1752
25                                    Odisha   13549
26                                Puducherry    1743
27                                    Punjab    6715
28                                 Rajasthan   13108
29                                    Sikkim     475
30                          State Unassigned       0
31                                Tamil Nadu   53486
32                                 Telangana   20358
33                                   Tripura    1898
34                             Uttar Pradesh   43654
35                               Uttarakhand    3056
36                               West Bengal   23829
                                       State  Total Active
0                Andaman and Nicobar Islands           752
1                             Andhra Pradesh         82166
2                          Arunachal Pradesh           700
3                                      Assam         15431
4                                      Bihar         23939
5                                 Chandigarh           529
6                               Chhattisgarh          2855
7   Dadra and Nagar Haveli and Daman and Diu           406
8                                      Delhi         10348
9                                        Goa          2095
10                                   Gujarat         14708
11                                   Haryana          6205
12                          Himachal Pradesh          1141
13                         Jammu and Kashmir          7310
14                                 Jharkhand          9017
15                                 Karnataka         75067
16                                    Kerala         11983
17                                    Ladakh           411
18                               Lakshadweep             0
19                            Madhya Pradesh          8716
20                               Maharashtra        146305
21                                   Manipur          1304
22                                 Meghalaya           640
23                                   Mizoram           249
24                                  Nagaland          1752
25                                    Odisha         13549
26                                Puducherry          1743
27                                    Punjab          6715
28                                 Rajasthan         13108
29                                    Sikkim           475
30                          State Unassigned             0
31                                Tamil Nadu         53486
32                                 Telangana         20358
33                                   Tripura          1898
34                             Uttar Pradesh         43654
35                               Uttarakhand          3056
36                               West Bengal         23829

5.District per Recovered,Active and Deceased:

In [23]:
data.head(10)

,SlNo,State_Code,State,District_Key,District,Confirmed,Active,Recovered,Deceased,Migrated_Other,Delta_Confirmed,Delta_Active,Delta_Recovered,Delta_Deceased,Unnamed: 14
0,0,UN,State Unassigned,UN_Unassigned,Unassigned,0,0,0,0,0,0,0,0,0,NaN
1,1,AN,Andaman and Nicobar Islands,AN_Nicobars,Nicobars,0,0,0,0,0,0,0,0,0,NaN
2,2,AN,Andaman and Nicobar Islands,AN_North and Middle Andaman,North and Middle Andaman,1,0,1,0,0,0,0,0,0,NaN
3,3,AN,Andaman and Nicobar Islands,AN_South Andaman,South Andaman,51,19,32,0,0,0,0,0,0,NaN
4,0,AP,Andhra Pradesh,AP_Foreign Evacuees,Foreign Evacuees,434,0,434,0,0,0,0,0,0,NaN
5,4,AP,Andhra Pradesh,AP_Anantapur,Anantapur,21173,6768,14263,142,0,1112,-494,1596,10,NaN
6,5,AP,Andhra Pradesh,AP_Chittoor,Chittoor,14306,6215,7948,143,0,755,251,496,8,NaN
7,6,AP,Andhra Pradesh,AP_East Godavari,East Godavari,27580,12583,14792,205,0,1351,973,368,10,NaN
8,7,AP,Andhra Pradesh,AP_Guntur,Guntur,19419,7224,12007,188,0,868,226,633,9,NaN
9,8,AP,Andhra Pradesh,AP_Krishna,Krishna,9042,3012,5832,198,0,363,57,300,6,NaN

In [24]:
covid_per_District= data.groupby('District')['Confirmed'].sum().reset_index()
print(covid_per_District)

covid_per_District= covid_per_District.rename(columns={'District': 'Confirmed','confirmed':'Total confirmed'})
print(covid_per_District)

        District  Confirmed
0       Adilabad        360
1     Agar Malwa        101
2           Agra       1985
3      Ahmedabad      27434
4     Ahmednagar       7440
..           ...        ...
738       Yadgir       2700
739  Yamunanagar        401
740        Yanam        342
741     Yavatmal       1252
742    Zunheboto         68

[743 rows x 2 columns]
       Confirmed  Confirmed
0       Adilabad        360
1     Agar Malwa        101
2           Agra       1985
3      Ahmedabad      27434
4     Ahmednagar       7440
..           ...        ...
738       Yadgir       2700
739  Yamunanagar        401
740        Yanam        342
741     Yavatmal       1252
742    Zunheboto         68

[743 rows x 2 columns]

In [25]:
Active_per_District= data.groupby('District')['Active'].sum().reset_index()
print(Active_per_District)

Active_per_District= Active_per_District.rename(columns={'District': 'Active','Active':'Total Active'})
print(Active_per_District)

        District  Active
0       Adilabad     345
1     Agar Malwa      23
2           Agra     293
3      Ahmedabad    3660
4     Ahmednagar    3260
..           ...     ...
738       Yadgir     695
739  Yamunanagar     171
740        Yanam     166
741     Yavatmal     474
742    Zunheboto      57

[743 rows x 2 columns]
          Active  Total Active
0       Adilabad           345
1     Agar Malwa            23
2           Agra           293
3      Ahmedabad          3660
4     Ahmednagar          3260
..           ...           ...
738       Yadgir           695
739  Yamunanagar           171
740        Yanam           166
741     Yavatmal           474
742    Zunheboto            57

[743 rows x 2 columns]

In [26]:
Deceased_per_District= data.groupby('State')['Deceased'].sum().reset_index()
print(Deceased_per_District)

Deceased_per_District= Deceased_per_District.rename(columns={'District': 'Deceased','Deceased':'Total Deceased'})
print(Deceased_per_District)

                                       State  Deceased
0                Andaman and Nicobar Islands        16
1                             Andhra Pradesh      1753
2                          Arunachal Pradesh         3
3                                      Assam       126
4                                      Bihar       388
5                                 Chandigarh        20
6                               Chhattisgarh        77
7   Dadra and Nagar Haveli and Daman and Diu         2
8                                      Delhi      4059
9                                        Goa        66
10                                   Gujarat      2579
11                                   Haryana       458
12                          Himachal Pradesh        13
13                         Jammu and Kashmir       436
14                                 Jharkhand       145
15                                 Karnataka      2897
16                                    Kerala        98
17                                    Ladakh         7
18                               Lakshadweep         0
19                            Madhya Pradesh       946
20                               Maharashtra     16792
21                                   Manipur         8
22                                 Meghalaya         5
23                                   Mizoram         0
24                                  Nagaland         6
25                                    Odisha       280
26                                Puducherry        70
27                                    Punjab       517
28                                 Rajasthan       757
29                                    Sikkim         1
30                          State Unassigned         0
31                                Tamil Nadu      4571
32                                 Telangana       589
33                                   Tripura        31
34                             Uttar Pradesh      1918
35                               Uttarakhand       102
36                               West Bengal      1902
                                       State  Total Deceased
0                Andaman and Nicobar Islands              16
1                             Andhra Pradesh            1753
2                          Arunachal Pradesh               3
3                                      Assam             126
4                                      Bihar             388
5                                 Chandigarh              20
6                               Chhattisgarh              77
7   Dadra and Nagar Haveli and Daman and Diu               2
8                                      Delhi            4059
9                                        Goa              66
10                                   Gujarat            2579
11                                   Haryana             458
12                          Himachal Pradesh              13
13                         Jammu and Kashmir             436
14                                 Jharkhand             145
15                                 Karnataka            2897
16                                    Kerala              98
17                                    Ladakh               7
18                               Lakshadweep               0
19                            Madhya Pradesh             946
20                               Maharashtra           16792
21                                   Manipur               8
22                                 Meghalaya               5
23                                   Mizoram               0
24                                  Nagaland               6
25                                    Odisha             280
26                                Puducherry              70
27                                    Punjab             517
28                                 Rajasthan             757
29                                    Sikkim               1
30                          State Unassigned               0
31                                Tamil Nadu            4571
32                                 Telangana             589
33                                   Tripura              31
34                             Uttar Pradesh            1918
35                               Uttarakhand             102
36                               West Bengal            1902

In [27]:
Recovered_per_District= data.groupby('District')['Recovered'].sum().reset_index()
print(Recovered_per_District)

Recovered_per_District= Recovered_per_District.rename(columns={'District': 'Recovered','Recovered':'Total Recovered'})
print(Recovered_per_District)

        District  Recovered
0       Adilabad         15
1     Agar Malwa         74
2           Agra       1592
3      Ahmedabad      22152
4     Ahmednagar       4094
..           ...        ...
738       Yadgir       1992
739  Yamunanagar        227
740        Yanam        170
741     Yavatmal        746
742    Zunheboto         11

[743 rows x 2 columns]
       Recovered  Total Recovered
0       Adilabad               15
1     Agar Malwa               74
2           Agra             1592
3      Ahmedabad            22152
4     Ahmednagar             4094
..           ...              ...
738       Yadgir             1992
739  Yamunanagar              227
740        Yanam              170
741     Yavatmal              746
742    Zunheboto               11

[743 rows x 2 columns]